<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Book Genre</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Publication</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of libraryData">
                    
                    <td>{{i.id}}</td>
                    <td>{{i.bookname}}</td>
                    <td>{{i.bookgenres}}</td>
                    <td>{{i.authorname}}</td>
                    <td>{{i.publication}}</td>
                    <td>{{i.price}}</td>
                    <td><button class="btn btn-danger" (click)="deleteLibrary(i.id)">Delete</button></td>
                  </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>